body {
    background-color: rgb(18, 18, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top {
    width: 600px;
    height: 60px;
    background-color: rgb(59, 59, 124);
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.block-1,
.block-2,
.block-3,
.block-4 {
    margin: 10px;
}

.inner-in-blocks {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(185, 174, 174);
    padding: 10px;
}
img {
width: 25px;
}
.block-2 {
    background-color: rgb(99, 99, 148);
    height: 60px;
    border-bottom: 2px solid aqua;
}
.block-5 {
    padding: 10px 10px 10px 90px;
}