body {
    background-color: rgb(18, 18, 53);
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    width: 1200px;
    height: 2400px;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top {
    width: 1000px;
    height: 100px;
    background-color: rgb(59, 59, 124);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.area-start {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.area-end {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.icon img {
    width: 25px;
    height: 25px;
    margin: 0 15px 0 15px;
}

.inner-in-blocks {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium';
    color: rgb(185, 174, 174);
    padding: 0 20px;
    height: 100px;
}

.center-items {
    display: flex;
    align-items: center;
    justify-items: center;
}

.block:hover {
    background-color: rgb(99, 99, 148);
    box-shadow: inset 0 -2px aqua;
    border-radius: 5px;
    cursor: pointer;
    height: 100px;
}

.picture-top img {
    width: 40px;
    height: 40px;
    margin: 0 30px 0px 0;
}

.messages {
    width: 20px;
    height: 20px;
}

.circle-red {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(185, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    line-height: 20px;
}

.five {
    font-size: 15px;
}

