body {
    background-color: rgb(18, 18, 53);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 900px;
    height: 2400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .top {
    width: 900px;
    height: 100px;
    background-color: rgb(59, 59, 124);
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .block-1,
  .block-2,
  .block-3,
  .block-4,
  .block-5 {
    margin: 30px;
    }
  
  img {
    width: 25px;
    margin: 0;
  }
  
  .inner-in-blocks {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium';
    color: rgb(185, 174, 174);
  }
  
  .block-1:hover,
  .block-2:hover,
  .block-3:hover,
  .block-4:hover,
  .block-5:hover {
    background-color: rgb(99, 99, 148);
    border-bottom: 2px solid aqua;
    border-radius: 5px;
    height: 98px;
    line-height: 98px;
  }
  
  
  .block-5 {
    padding: 0 0 0 200px;
  
  }